nose2[coverage_plugin]>=0.6.5
coveralls
sphinx
openwisp-sphinx-theme~=1.0.2
# commit message style check

#pip install -e git+https://github.com/Insatroute/openwisp-utils.git@main#egg=openwisp_utils[qa]
